/* General */

body {
    background-color: #1A1A1A;
}

a:hover {
    color: #3EB0F9 !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blinker 1.5s linear infinite;
}

/* Snow */

#SnowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #F7F7F7;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
}

.snowflake:hover {
    cursor: default;
}